/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

/* Styles pour les titres */
h1, h2, h3 {
    color: #333;
    margin-top: 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

/* Styles pour les paragraphes */
p {
    margin: 10px 0;
}

/* Style pour les liens */
a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    color: #2980b9;
}


/* Classe personnalisée pour des sections */
.section {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Classe pour les conteneurs flex */
.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* Classe pour les éléments dans le conteneur flex */
.flex-item {
    flex: 1;
    padding: 10px;
    margin: 10px;
    min-width: 200px;
    max-width: 400px;
}
/* --------------------------------------------------------------------------ANIS_PAGE_D'ACCUEILLE------------------------------------------------------------------------------------ */
#Index{
    background-image: url("Image/TEAM FORTRESS 2 photoIndex.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
a.bouton{
    display: flex;
    text-align: center;
    margin-left: 42%;
    margin-top: 40%;
    size: 4px;
}   