/* --------------------------------------------------------------------------ANIS_PAGE_D'ACCUEILLE------------------------------------------------------------------------------------ */
#Index{
    background-image: url('../static/Image/TF2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
a.bouton{
    display: flex;
    text-align: center;
    margin-left: 42%;
    margin-top: 40%;
    size: 4px;
}
/* ---------------------------------------------------------------------Constance_PAGE_DE_JEUX---------------------------------------------------------------------------------------- */
.navbar {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    background-color: black;
}

.navbar * {
    box-sizing: border-box;
    transition: all 0.35s ease;
}

.navbar li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    overflow: hidden;
}

.navbar a {
    padding: 0.3em 0;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0;
    text-decoration: none;
}

.navbar li:hover a{
    color: white;
}