/* --------------------------------------------------------------------------ANIS_PAGE_D'ACCUEILLE------------------------------------------------------------------------------------ */
.Index{
    background-image: url('../static/Image/TF2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
a.bouton{
    display: flex;
    text-align: center;
    margin-left: 42%;
    margin-top: 40%;
    size: 4px;
}
/* ---------------------------------------------------------------------Constance_PAGE_DE_JEUX---------------------------------------------------------------------------------------- */
*{
    margin : 0;
    padding : 0;
    text-decoration: None;
    list-style: None;
}

#jeuxpage{
    font-family: 'Poppins';

}
/* Bandeau de navigation */
.header{
    height: 100vh;
    width: 100vw;
    background-image: url("../static/Image/TF2.png");
    background-size: cover;
}

.navbar {
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.navbar a{
    color: chocolate;
}

.navbar .nav-link ul {
    display : flex
}

.navbar .nav-link ul li {
    margin: 0 25px;
}

.navbar .nav-link ul.active {
    margin: 0 25px;
}
