<!DOCTYPE html>
<html lang="en">
    <head><link rel="stylesheet" href="../static/Design.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HangmanWEB</title>
    </head>
    <body id="jeuxpage">
        <ul class="navbar">
            <li><a href="Index.html" data-hover="Accueil">Accueil</a></li>
            <li><a href="contact.html" data-hover="Nous Contacter">Nous Contacter</a></li>
        </ul>
        <main class="content">
            <div id="section1" class="box">Info sur le jeux</div>
            <div id="section2" class="box">Nommbre de guess</div>
            <div id="section3" class="box">Mot a deviner</div>
            <div id="section4" class="box">pendu vision</div>
        </main>
    
        <!-- Pied de page -->
        <footer class="footer">
            <p>© 2024 Anis Raphael Constance- Tous droits réservés- Hangman Web.</p>
        </footer>
    </body>
</html>